<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Insert title here</title>
</head>
<body>
<form action="applySkProduct" th:method="post"><!--action跳转地址-->
    秒杀商品 id： <input name="productId"></br>
    秒杀商品标题：<input name="productTitle"></br>
    商品图片地址：<input name="productPic"></br>
    商品秒杀价格：<input name="killPrice"></br>
    秒杀商品原价：<input name="originalPrice"></br>
    商家id： <input name="sellerId"></br>
    秒杀开始时间：<input name="startTimeString"></br>
    秒杀结束时间：<input name="endTimeString"></br>
    秒杀商品数量：<input name="productCount"></br>
    秒杀商品库存：<input name="storeCount"></br>
    秒杀商品描述：<input name="description"></br>
    <input type="button" value="提交" onclick="submit(this)">
</form>
</body>
<script type="text/javascript">
    function submit(obj) {
        obj.parent.submit();
    }
</script>
</html>