<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Insert title here</title>
</head>
<body>
<form action="updateProductState" th:method="post"><!--action跳转地址-->
    <input name="id" th:value="${productInfo.id}" type="hidden"/>
    秒杀商品的id：<input name="productId" th:value="${productInfo.productId}"></br>
    秒杀商品标题：<input name="productTitle" th:value="${productInfo.productTitle}"></br>
    商品图片地址：<input name="productPic" th:value="${productInfo.productPic}"></br>
    商品秒杀价格：<input name="killPrice" th:value="${productInfo.killPrice}"></br>
    秒杀商品原价：<input name="originalPrice" th:value="${productInfo.originalPrice}"></br>
    商家id： <input name="originalPrice" th:value="${productInfo.sellerId}"></br>
    秒杀开始时间：<input name="startTimeString" th:value="${startTimeString}"></br>
    秒杀结束时间：<input name="endTimeString" th:value="${endTimeString}"></br>
    秒杀商品数量：<input name="productCount" th:value="${productInfo.productCount}"></br>
    秒杀商品库存：<input name="storeCount" th:value="${productInfo.storeCount}"></br>
    秒杀商品描述：<input name="description" th:value="${productInfo.description}"></br>
    审核通过:<input type="radio" name="state" value="2">审核不通过:<input type="radio" name="state" value="3"></br>
    <input type="button" value="提交" onclick="submit(this)">
</form>
</body>
<script type="text/javascript">
    function submit(obj) {
        obj.parent.submit();
    }
</script>
</html>