<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Insert title here</title>
</head>
<body>
<table th:border="3">
    <tr>
        <th>商家编号</th>
        <th>商家姓名</th>
        <th>店铺名称</th>
        <th>商家账号</th>
        <th>商家密码</th>
        <th>经营范围</th>
        <th>操作</th>
    </tr>
    <tr th:each="seller : ${sellerList}">
        <td th:text="${seller.id} "></td>
        <td th:text="${seller.name} "></td>
        <td th:text="${seller.shopName} "></td>
        <td th:text="${seller.account} "></td>
        <td th:text="${seller.password} "></td>
        <td th:text="${seller.scope}"></td>
        <td><a th:href="@{'toUpdate?id='+${seller.id}}">修改</a> || <a th:href="@{'delete?id='+${seller.id}}">删除</a> || <a
                th:href="@{'query?id='+${seller.id}}">查询</a></td>
        <!--    </br>-->
    </tr>
</table>
<div th:align="center">
    <a th:href="@{'toAdd'}">添加商家</a>
</div>
</body>
</html>